.case-search-form {
    /*padding: 18px;*/
    /*background: #fbfbfb;*/
    /*border: 1px solid #d9d9d9;*/
    /*border-radius: 6px;*/
}

.case-search-form .ant-form-item {
    display: flex;
}

.case-search-form .ant-form-item-control-wrapper {
    flex: 1;
}

.copy-form .ant-form-item {
    display: flex;
}

.copy-form .ant-form-item-control-wrapper {
    flex: 1;
}

div.ant-popover-inner-content div.jsoneditor-menu {
    display: none;
}

div.ant-popover-inner-content div.jsoneditor {
    width: 30vmin;
    border: 1px solid gainsboro;
}

div.ant-popover-inner-content div.ace_scroller {
    pointer-events: none;
}

div.ant-popover-inner-content div.ace_gutter-layer {
    position: absolute;
}
