.add-case .case-form .ant-form-item {
    display: flex;
}

.add-case .case-form .ant-form-item-control-wrapper {
    flex: 1;
}

div.jsoneditor-menu a.jsoneditor-poweredBy {
    display: none;
}

div.jsoneditor-menu {
    display: none;
}

.params-form {
    border: 1px solid rgba(0, 0, 0, .1);
    width: 50%;
}

.params-form .switch {
    padding: 10px;
}

.params-form .json-editor {
}
.params-form div.jsoneditor-outer {
    height: 300px;
}

.params-form .json-param {
}
