.add-case .case-form .ant-form-item {
    display: flex;
}

.add-case .case-form .ant-form-item-control-wrapper {
    flex: 1;
}

.params-form {
    border: 1px solid rgba(0, 0, 0, .1);
    width: 50%;
}

.case-headers {
    border: 1px solid rgba(0, 0, 0, .1);
    width: 50%;
}

.case-sample {
    border: 1px solid rgba(0, 0, 0, .1);
    width: 50%;
}

.params-form .switch {
    padding: 10px;
}

.params-form div.jsoneditor-outer {
    height: 300px;
}

.add-case div.jsoneditor-vue{
    /*width: 50%;*/
    height: 200px;
}

.add-case div.jsoneditor-menu {
    display: none;
}

.params-form div.jsoneditor-outer {
    /*width: 100%;*/
    height: 300px;
}
