@media screen and (max-width: 860px){
    #test-platform-nav{
        min-height: 40px;
    }
    .test-platform-nav-title{
        color: #00717c;
    }
}
@media screen and (min-width: 860px){
    #test-platform-nav{
        min-height: 40px;
        margin-left: 10px;
        margin-right: 10px;

    }
    .float-to-left{
        float: left;
    }
    #test-platform-info-area{
        float: right;
    }
    .test-platform-nav-title{
        color: #00717c;
        height: 40px;
    }
    #test-platform-nav-logo {
        height: 40px;
    }
    .test-platform-breadcrumb{
        margin-top: 10px;
        margin-left: 10px;
    }
}
