@media screen and (max-width: 860px){
    .avatar {
        width: 32px;
        height: 32px;
    }
}
@media screen and (min-width: 860px){
    .info-area{
        padding-top: 10px;
        padding-right: 10px;
    }
}
